__pycache__
out
*.tar.gz
*.wav
*.TextGrid
*.srt
text
wav.scp
utt2event
pretrained_models/
/runtime/fireredlid/artifacts/
*.swp
*.swo
uv.lock
*.egg-info
/FireRedLID/
/docs
Dockerfile.*
start_docker.sh
polaris_client.py
